layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane name="Files" size="20%" {
            plugin location="zellij:strider"
        }
        pane {
            pane size="80%" stacked=true {
                pane name="Lazygit" {
                    command "lazygit"
                }
                pane name="Helix" expanded=true focus=true {
                    command "direnv"
                    args "exec" "." "hx" "."
                }
            }
            pane split_direction="vertical" {
                pane name="Terminal 1"
                pane name="Terminal 2"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
keybinds {
    shared_except "locked" {
        bind "Alt B" { LaunchOrFocusPlugin "zellij:strider"; }
        unbind "Alt N"
        unbind "Alt X"
    }
}
