spawn-sh-at-startup "fcitx5"
prefer-no-csd
screenshot-path "~/userdata/pictures/screenshots/%Y-%m-%dT%H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

environment {
    // Toolkit backend preference should be set after the compositor starts,
    // otherwise wayland environment may not be ready for apps.
    GDK_BACKEND "wayland,x11,*"
    QT_QPA_PLATFORM "wayland;xcb"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"

    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

    NIXOS_OZONE_WL "1"

    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
}

xwayland-satellite {
    path "xwayland-satellite"
}

input {
    keyboard {
        numlock
        repeat-delay 200
    }

    touchpad {
        tap
        dwt
        natural-scroll
        scroll-factor 0.5
        accel-speed 0.4
        accel-profile "flat"
    }

    mouse {
        accel-profile "flat"
    }
}

layout {
    gaps 8
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        width 2
        active-gradient from="#1a84ab" to="#8653ed" angle=135
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^lx-music-desktop$"#
    // Needs to set "Start in fullscreen mode" in this app at the same time
    open-fullscreen false
    open-floating false
}

window-rule {
    draw-border-with-background false
    geometry-corner-radius 8
    clip-to-geometry true
}

layer-rule {
    match namespace="^wpaperd-.*"
    place-within-backdrop true
}

binds {
    //! Applications
    // Frequently used applications
    Mod+Q hotkey-overlay-title="Open Terminal" { spawn "alacritty" "msg" "create-window"; }
    Mod+E hotkey-overlay-title="Open File Manager" { spawn "nautilus"; }
    Mod+W hotkey-overlay-title="Open Web Browser" { spawn "firefox"; }
    Mod+Space hotkey-overlay-title="Open Launcher" { spawn "rofi" "-show" "drun"; }
    Mod+V hotkey-overlay-title="Open Clipboard Selector" { spawn "clipboard-select" "--copy" "rofi" "-dmenu" "-p" "Clipboard"; }
    Mod+N hotkey-overlay-title="Open Notification Center" { spawn "swaync-client" "--toggle-panel"; }
    Mod+Shift+L hotkey-overlay-title="Lock Screen" { spawn "hyprlock"; }

    // Screenshot
    Mod+S { screenshot; }
    Mod+Shift+S { screenshot-screen; }
    Mod+Ctrl+S { screenshot-window; }

    // `Fn` keys
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    //! Window management
    // Misc
    Mod+Ctrl+Shift+Escape { quit; }
    Mod+Tab repeat=false { toggle-overview; }
    Mod+X repeat=false { close-window; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Window focus
    Mod+J { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-or-workspace-down; }
    Mod+I { focus-window-or-workspace-up; }

    // Workspace focus
    Mod+Shift+I { focus-workspace-up; }
    Mod+Shift+K { focus-workspace-down; }

    // Window movement
    Mod+Ctrl+J { move-column-left; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+I { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+K { move-window-down-or-to-workspace-down; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Z { center-column; }

    // Workspace movement
    Mod+Shift+Ctrl+I { move-workspace-up; }
    Mod+Shift+Ctrl+K { move-workspace-down; }

    // Window resizing
    Mod+C     { switch-preset-column-width; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+C     { switch-preset-window-height; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Floating
    Mod+U       { toggle-window-floating; }
    Mod+Shift+U { switch-focus-between-floating-and-tiling; }

    // Tab
    Mod+T { toggle-column-tabbed-display; }
}

recent-windows {
    debounce-ms 750
    open-delay-ms 250

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 8
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab       { next-window; }
        Alt+Shift+Tab { previous-window; }
    }
}
